<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flight App</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<nav>
    <ul>
        <li>
            <a href="/flights" class="<%= currentPage === 'flights' ? 'active' : '' %>">ALL FLIGHTS</a>
        </li>
        <li>
            <a href="/flights/new" class="<%= currentPage === 'newFlight' ? 'active' : '' %>">ADD FLIGHT</a>
        </li>
    </ul>
</nav>
